* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.announcement-container {
	line-height: 55px;
	margin-bottom: 5px;
}
.announcement-text {
	list-style: none;
	text-align: right;
}
@media(max-width: 578px) {
    .announcement-text {
        font-size: 12px;
        line-height: 20px;
    }
}
.announcement-text.hide {
	display: none;
}
.scheme-single img {
	height: 200px;
}
.scheme-single p {
	font-size: 14px;
}
#draw-paid-user tbody {
	height: 100px !important;
	max-height: 100px !important;
	overflow-y: scroll !important;
}